.input_items {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding-left: 5px;
  text-transform: capitalize;
  border-style: none;
  color: #858585;
}
