.button_add {
  background-color: var(--button-add-color);
  color: var(--color-primary);
}

.confirm_alert_button_confirm,
.confirm_alert_button_cancel {
  display: var(--display-property-secondary);
  font-family: Roboto-Regular;
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-secondary);
  border: var(--border-none);
  border-radius: var(--border-radius-confirm-alert-button);
  outline: var(--outline-primary);
  cursor: var(--cursor);
}

.confirm_alert_button_confirm {
  background: var(--background-color-primary);
  border: var(--border-button-confirm);
}

.confirm_alert_button_cancel {
  background: var(--background-color-primary);
  border: var(--border-button-delete);
}

.confirm_alert_button_confirm:hover {
  background-color: var(--button-confirm-color);
  color: var(--color-primary);
}

.confirm_alert_button_cancel:hover {
  background-color: var(--button-delete-color);
  color: var(--color-primary);
}

.button_edit {
  font-size: 17px;
  background: none;
  color: var(--button-edit-color);
  min-height: 35px;
  height: 35px;
}

.button_delete {
  font-size: 17px;
  background: none;
  color: var(--button-delete-color);
  min-height: 35px;
  height: 35px;
}

.button_submit {
  margin-right: 40px;
  width: 75px;
  color: var(--color-primary);
  background-color: var(--button-submit-color);
}
