.label {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.input_description {
  border-radius: 10px;
  width: 550px;
  height: 150px;
  padding-top: 20px;
  padding-left: 10px;
  border-style: none;
}
