.container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter_btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--color-filter);
  cursor: pointer;
  transition: var(--transition-primary);
  border-radius: 8px;
  border-color: var(--color-price);
}
.filter_btn:hover {
  background: var(--color-filter);
  color: var(--color-primary);
}
