.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.label {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.input_items {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  padding-left: 8px;
  border-style: none;
}

.form_edit {
  background-color: var(--background-form);
  border-radius: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  align-items: center;
  gap: 15px;
}
.card_button {
  display: flex;
  justify-content: center;
  height: 35px;
}

.button_update {
  margin-right: 40px;
  width: 75px;
  color: var(--color-primary);
  background-color: var(--button-submit-color);
}

.input_description {
  border-radius: 10px;
  width: 550px;
  height: 150px;
  padding-top: 20px;
  padding-left: 10px;
  border-style: none;
}

.button_cancel {
  width: 75px;
  color: var(--color-primary);
  background-color: var(--button-cancel-color);
}

.data_fields_empty {
  color: var(--error-message-color);
  text-transform: uppercase;
  width: 65%;
}

.error {
  margin-bottom: 10px;
  width: 65%;
}

.input_field {
  display: flex;
  justify-content: center;
  gap: 45px;
}
