@font-face {
  font-family: Roboto-Bold;
  src: url(/src/assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(/src/assets/fonts/Roboto-Light.ttf);
}

:root {
  --position-primary: relative;
  --position-secondary: fixed;
  --cursor: pointer;

  --bg-position-primary: center;

  --background-color-primary: #fff;
  --button-add-color: #c59d5f;
  --button-delete-color: #dc3545;
  --button-confirm-color: #007bff;
  --button-edit-color: #007bff;
  --button-submit-color: #007bff;
  --button-cancel-color: #ff0000;
  --error-message-color: #ff0000;
  --background-color-modal: #00000066;
  --bg-color-modal-content: #fefefe;
  --background-body: #f1f5f8;
  --background-form: #a2a8b3;

  --box-shadow-modal-content: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;

  --color-primary: #fff;
  --color-secondary: #000;
  --color-price: #c59d5f;
  --color-filter: #c59d5f;
  --color-border: #617d98;
  --color-description: #617d98;
  --confirm-popup-color: #008080;
  --confirm-popup-title-color: #ff0000;

  --width-property-full: 100%;
  --width-property-confirm-alert: 400px;
  --width-property-button-close: 25px;
  --height-property-full: 100%;
  --height-property-confirm-alert: 320px;

  --display-property-primary: flex;
  --display-property-secondary: block;
  --display-property-tertiary: grid;
  --justify-content-primary: center;
  --align-items: center;
  --gap-navbar: 20px;

  --transition-primary: all 0.3s linear;
  --transition-secondary: all 0.4s ease;
  --flex-direction: column;
  --text-decoration: none;
  --overflow: auto;

  --font-size-primary: 16px;
  --font-size-secondary: 32px;
  --font-size-message-confirm: 20px;
  --font-weight-secondary: bold;
  --font-weight-tertiary: 500;

  --background-size: cover;
  --outline-primary: none;

  --border-none: none;
  --border-modal: 3px solid #dcdcdc;
  --border-button: 1px solid transparent;
  --border-hr: 5px solid #ba8132;
  --border-search: #ba8132;
  --border-button-confirm: 2px solid #28a745;
  --border-button-delete: 2px solid #dc3545;
  --border-button-close: 3px solid #fff;
  --border-radius-button-close: 50%;
  --border-button-close-hover: 3px solid;
  --border-image: 0.25rem solid #c59d5f;
  --border-radius-modal-body: 20px;
  --border-radius-confirm-alert-button: 5px;

  --z-index-property-primary: 1;
  --float-property-button-close: right;

  --padding-modal: 100px 0 0;
  --padding-modal-content: 0;

  --margin-modal-content: auto;
  --margin-title-confirm: 25px 20px 15px;
  --margin-confirm-alert-button-group: 20px;
}
