.wrapper {
  text-align: -webkit-center;
  padding: 50px 0;
}

.title_content {
  margin-bottom: 20px;
  font-size: 40px;
  text-transform: capitalize;
}

.hr {
  border-bottom: var(--border-hr);
  width: 100px;
}
