.content_wrapper {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-gap: 0 1.25rem;
  gap: 0 1.25rem;
  max-width: 40rem;
}
.card_image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border: var(--border-image);
  border-radius: 0.25rem;
  display: block;
}
.image {
  font-size: 80px;
}

.title_card {
  width: 300px;
  display: flex;
  padding-bottom: 7px;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--color-border);
}

.title_item {
  margin: 0;
  letter-spacing: 4px;
  line-height: 1;
  text-transform: capitalize;
  font-size: 16px;
}

.price_item {
  margin: 0;
  line-height: 1;
  color: var(--color-price);
}

.desc_item {
  font-family: Roboto-Light;
  font-size: 13px;
  margin-bottom: 0;
  padding-top: 1rem;
  color: var(--color-description);
  overflow: hidden;
  max-width: 300px;
  min-height: 90px;
  height: 90px;
}

.button_card {
  display: flex;
  justify-content: flex-end;
}

.button_edit {
  font-size: 17px;
  background: none;
  color: var(--button-edit-color);
  min-height: 35px;
  height: 35px;
}

.button_delete {
  font-size: 17px;
  background: none;
  color: var(--button-delete-color);
  min-height: 35px;
  height: 35px;
}
