.button_add {
  background-color: var(--button-add-color);
  color: var(--color-primary);
}

.features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.section {
  margin: 0 auto;
  max-width: 1280px;
}
